In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
data = pd.read_csv("../data/fraud_data.csv")
data.head()

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud
0,04-01-2019 00:58,"""Stokes, Christiansen and Sipes""",grocery_net,14.37,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,a3806e984cec6ac0096d8184c64ad3a1,65.654142,-164.722603,1
1,04-01-2019 15:06,Predovic Inc,shopping_net,966.11,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,a59185fe1b9ccf21323f581d7477573f,65.468863,-165.473127,1
2,04-01-2019 22:37,Wisozk and Sons,misc_pos,49.61,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,86ba3a888b42cd3925881fa34177b4e0,65.347667,-165.914542,1
3,04-01-2019 23:06,Murray-Smitham,grocery_pos,295.26,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,3a068fe1d856f0ecedbed33e4b5f4496,64.445035,-166.080207,1
4,04-01-2019 23:59,Friesen Lt,health_fitness,18.17,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",09-11-1939,891cdd1191028759dc20dc224347a0ff,65.447094,-165.446843,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14446 entries, 0 to 14445
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  14446 non-null  object
 1   merchant               14446 non-null  object
 2   category               14446 non-null  object
 3   amt                    14446 non-null  float64
 4   city                   14446 non-null  object
 5   state                  14446 non-null  object
 6   lat                    14446 non-null  float64
 7   long                   14446 non-null  float64
 8   city_pop               14446 non-null  int64
 9   job                    14446 non-null  object
 10  dob                    14446 non-null  object
 11  trans_num              14446 non-null  object
 12  merch_lat              14446 non-null  float64
 13  merch_long             14446 non-null  float64
 14  is_fraud               14446 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 1.7+ MB

In [4]:
data.isnull().sum()

trans_date_trans_time    0
merchant                 0
category                 0
amt                      0
city                     0
state                    0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [5]:
# convert the time into a useable format
data = data.loc[(data["is_fraud"] == "0") | (data["is_fraud"] == "1")].reset_index(drop=True)
data['is_fraud'] = data["is_fraud"].astype("int64")

data['trans_date_trans_time'] = pd.to_datetime(data['trans_date_trans_time'], format="%d-%m-%Y %H:%M")
data['trans_date_trans_time'] = data['trans_date_trans_time'].map(lambda x: x.timestamp())

data['dob'] = pd.to_datetime(data['dob'], format="%d-%m-%Y")
data['dob'] = data['dob'].apply(lambda x: x.timestamp())

data['trans_num'] = data['trans_num'].apply(lambda x: int(x, 16))

In [6]:
data.head()

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud
0,1.546563e+09,"""Stokes, Christiansen and Sipes""",grocery_net,14.37,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",-951350400.0,217331020442377520424851068341164102561,65.654142,-164.722603,1
1,1.546614e+09,Predovic Inc,shopping_net,966.11,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",-951350400.0,220078220041974899165834637623336326975,65.468863,-165.473127,1
2,1.546641e+09,Wisozk and Sons,misc_pos,49.61,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",-951350400.0,179083505848752493253410696976615847136,65.347667,-165.914542,1
3,1.546643e+09,Murray-Smitham,grocery_pos,295.26,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",-951350400.0,77129295814540084972954820839510852758,64.445035,-166.080207,1
4,1.546646e+09,Friesen Lt,health_fitness,18.17,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",-951350400.0,182254103538852002975909446701417996543,65.447094,-165.446843,1

In [7]:
# dropping merchant, category (for now), city, state, and job
usable_data = data[["trans_date_trans_time", #"category", 
                    "amt", "lat", "long", "city_pop", "dob", "trans_num", "merch_lat", "merch_long", "is_fraud"]]
data.info()
usable_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14444 entries, 0 to 14443
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  14444 non-null  float64
 1   merchant               14444 non-null  object
 2   category               14444 non-null  object
 3   amt                    14444 non-null  float64
 4   city                   14444 non-null  object
 5   state                  14444 non-null  object
 6   lat                    14444 non-null  float64
 7   long                   14444 non-null  float64
 8   city_pop               14444 non-null  int64
 9   job                    14444 non-null  object
 10  dob                    14444 non-null  float64
 11  trans_num              14444 non-null  object
 12  merch_lat              14444 non-null  float64
 13  merch_long             14444 non-null  float64
 14  is_fraud               14444 non-null  int64
dtypes: float64(7), int64(2), object(6)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14444 entries, 0 to 14443
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  14444 non-null  float64
 1   amt                    14444 non-null  float64
 2   lat                    14444 non-null  float64
 3   long                   14444 non-null  float64
 4   city_pop               14444 non-null  int64
 5   dob                    14444 non-null  float64
 6   trans_num              14444 non-null  object
 7   merch_lat              14444 non-null  float64
 8   merch_long             14444 non-null  float64
 9   is_fraud               14444 non-null  int64
dtypes: float64(7), int64(2), object(1)
memory usage: 1.1+ MB

In [8]:
cities = data.city.unique()
print(len(cities))
states = data.state.unique()
print(len(states))
merchants = data.merchant.unique()
print(len(merchants))
categories = data.category.unique()
print(len(categories))
jobs = data.job.unique()
print(len(jobs))

176
13
693
14
163

In [9]:
# transaction date/time versus fraudness graph...